.answer-item__description {
    display: none;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.answer-item__description.active {
    display: block;
    opacity: 1;
}
.category-items__item.active {
    color: #e84849;
}
/*.catalog-item__price {
    min-width: max-content;
}*/